<%= form_for(@product_detail) do |f| %>
  <% if @product_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_detail.errors.count, "error") %> prohibited this product_detail from being saved:</h2>

      <ul>
      <% @product_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- product id is not supposed to be visible -->
  <div class="field">
    <%= f.label :product_name %><br />
    <%= f.text_field :product_name %>
  </div>
  
  <div class="field">
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode %>
  </div>
  
  <div class="field">
    <%= f.label :net_weight_g %><br />
    <%= f.text_field :net_weight_g %>
  </div>
  <div class="field">
    <%= f.label :pkg_unit %><br />
    <%= f.text_field :pkg_unit %>
  </div>
  <div class="field">
    <%= f.label :shelf_life_d %><br />
    <%= f.text_field :shelf_life_d %>
  </div>
  <div class="field">
    <%= f.label :std_followed %><br />
    <%= f.text_field :std_followed %>
  </div>
  <div class="field">
    <%= f.label :aggregate_info %><br/>
    <%= f.text_field :aggregate_info %>
  </div>
  
  <h3> Interesting! Related organzations modification</h3>
  <h4>IDEA: if this is a personal page(may be in form of widget), </h4> 
  <%= f.fields_for :product_detail_organizations do | builder | %>
     <%= render "role_organizations" , :f => builder %>
  <% end %>
  
  <h3> User Contributed Entries</h3>
  <%= f.fields_for :product_detail_entries do | builder | %>
     <%= render "product_detail_entries" , :f => builder %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
  
  
