<%= po.fields_for :organization do | of | %>
     <!--TODO: should reuse the _form of organization -->
        <div class="field">
          <%= of.label :name %><br />
          <%= of.text_field :name %>
        </div>
        <div class="field">
          <%= of.label :country_code %><br />
          <%= of.text_field :country_code %>
        </div>
        <div class="field">
          <%= of.label :city_code %><br />
          <%= of.text_field :city_code %>
        </div>
        <div class="field">
          <%= of.label :address %><br />
          <%= of.text_field :address %>
        </div>
        <div class="field">
          <%= of.label :address_en %><br />
          <%= of.text_field :address_en %>
        </div>
        <div class="field">
          <%= of.label :office_tel %><br />
          <%= of.text_field :office_tel %>
        </div>
<% end %>