<p>
  <%= f.label :name, "Product Attribute" %> : <%= f.text_area :name, :rows => 1 %> |  
  <%= f.label :value, "Value" %> : <%= f.text_area :value, :rows => 1 %> | 
  <%= f.check_box :_destroy %> |
  <%= f.label :_destroy, "Remove This Attribute" %>
  <hr/>
</p>
