<p>
  <%= f.label :role, "Role" %> : <%= f.text_area :role, :rows => 1 %> |  
  <%= f.label :orgname, "Organization Name" %> : <%= f.text_area :orgname, :rows => 1 %> | 
  <%= f.check_box :_destroy %> |
  <%= f.label :_destroy, "Remove This Attribute" %>
  <hr/>
</p>
