<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product_detail.product_id %>
</p>


<p>
  <b>Product Name:</b>
  <%= @product_detail.product_name %>
</p>

<p>
  <b>Product barcode:</b>
  <%= @product_detail.barcode %>
</p>

<p>
  <b>Net weight g:</b>
  <%= @product_detail.net_weight_g %>
</p>

<p>
  <b>Pkg unit:</b>
  <%= @product_detail.pkg_unit %>
</p>

<p>
  <b>Shelf life d:</b>
  <%= @product_detail.shelf_life_d %>
</p>

<p>
  <b>Std followed:</b>
  <%= @product_detail.std_followed %>
</p>

<p>
  <b>Aggregate info:</b>
  <%= @product_detail.aggregate_info %>
</p>

<p>
  <b>Contributed User:</b>
  <%= @product_detail.user.id %>
</p>

<%= link_to 'Edit', edit_product_detail_path(@product_detail) %> |
<%= link_to 'Back', product_details_path %>

<h2>TODO:submit a refined version</h2>


<!-- later for data aggregation use. After all, it's not a good idea to edit info in one show page, probably, ajax things?-->

<h2>User contributed Organizations </h2>
<% @product_detail.product_detail_organizations.each do | item | %>
   <%= item.role%> : <%= item.orgname %><br/>
<% end %>
<br>Refine the name and role?</br>
<br>Not find on the map, pin it down on map?  marker with question mark(Human life is at stake!! You can help!)</br>

<h2> Organization map, may be useful to display on the user' profile pages.</h2>
# for Rails 3+ you need to make use of 'raw'
  <%= raw Cartographer::Header.new.to_s %>
  <%= raw @map.to_html %>
  <div style="width:600px;height:400px;" id="map" > [Map] </div>



<h2>User contributed key/value entries </h2>
<% @product_detail.product_detail_entries.each do | item | %>
   <%= item.name%> : <%= item.value %>
<% end %>






