<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country code</th>
    <th>City code</th>
    <th>Address</th>
    <th>Address en</th>
    <th>Office tel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.country_code %></td>
    <td><%= organization.city_code %></td>
    <td><%= organization.address %></td>
    <td><%= organization.address_en %></td>
    <td><%= organization.office_tel %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
