<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Country code:</b>
  <%= @organization.country_code %>
</p>

<p>
  <b>City code:</b>
  <%= @organization.city_code %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>Address en:</b>
  <%= @organization.address_en %>
</p>

<p>
  <b>Office tel:</b>
  <%= @organization.office_tel %>
</p>

<p>
  <b>Latitude:</b>
  <%= @organization.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @organization.longitude %>
</p>

<p>
  <b>Geocode:</b>
  <%= Geocoder.coordinates(@organization.address) %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>



 <h2>for Rails 3+ you need to make use of 'raw'  </h2>
 <%= raw Cartographer::Header.new.to_s %>
 <%= raw @map.to_html %>