<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Barcode:</b>
  <%= @product.barcode %>
</p>

<% if @product.users.size 
> 0 %>
<p>
  <b>Probable users who may be also interested in the product</b>  
  <% @product.users.each do | user | %>
     <li><%= user.email%></li>
  <% end %>
</p>
<% else %>
<p>
  <b>Ha! No user seems to have take a record of this products.</b>  
</p>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
